<h1 align="center"> ABOUT OUR CODING UNIVERSITY </h1>


<p>The CODING UIVERSITY was established by Royal Charter in 2020 for the public benefit and is recognised globally. Throughout our long history, the University has offered access to a wide range of academic opportunities. As a world leader in higher education, the University has pioneered change in the sector. We were the first university to admit students regardless of their gender, race or religion, the first to admit women to degree programmes and, in 1865, the first to give students the opportunity to study wherever they are, providing access to higher education across the globe. For almost 200 years, we have improved the lives of millions of people around the world through our unique approach to education, prompting Charles Dickens to term us the 'People's University'.</p>


<p>Study at the CODING UNIVERSITY

We are a federation of 17 independent member institutions of outstanding global reputation, ranging from larger universities such as UCL or King’s College London to smaller specialised institutions such as the Royal Academy of Music or the Courtauld Institute of Art.

There are also research institutes, united through the School of Advanced Study, offering postgraduate study and research in the humanities as well as the CODING UNIVERSITY Institute in Paris and our flexible and distance learning programmes.

Students of the member institutions are also CODING UNIVERSITY students, giving them access to our wide range of services in central London. The academic quality of your qualification is of the very highest standard, wherever you study.</p>

<p>The CODING UNIVERSITY

In 1859, the magazine 'All the Year Round', edited by Charles Dickens, described us as 'The People’s University', which would 'extend her hand even to the young shoemaker who studies in his garret'.

This idea is as true today as it was almost 160 years ago.

Our visions are reflected in the core aims for our future plans and activities, which are to:

    Widen global access to a world-class education.
    Deliver academic excellence through research and teaching.
    Create a collaborative programme of engagement initiatives for the public benefit.

Read more about our vision and aims in our brochure 'Supporting Global Access and Innovation'.

It is only with the support of individuals and organisations like yourself that we can continue to deliver the world-class research and teaching which has characterised us for nearly 200 years.
Studying in the library</p>