<h1 align="center">CONTACT US</h1>


<h4>
CODING UNIVERSITY
</h4>

<p>
University Offices
Wellington Square
Oxford
OX1 2JD
United Kingdom
</p>

<p>
Telephone: +44 1865 270000
Fax: +44 1865 270708
</p>

<p>
The CODING UNIVERSITY is not a campus university and our colleges, departments and other constituent units are to be found throughout the city of Oxford, rather than on one central site. Departmental and college addresses and phone numbers may be found on individual college and departmental websites.
</p>

<p>

If you have a question you would like to ask, including admission queries, please use our “Any Questions” website. You can search popular questions or submit a question using the “Ask a question” tab. Unfortunately we are unable to respond to letters from individuals.

</p>

<p>

If you have an issue or feedback relating to the University of Oxford website itself, please contact the webmaster.
CAN'T FIND WHAT YOU'RE LOOKING FOR?

Try our extensive database of FAQs or submit your own question...

Ask a question
</p>