<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">CODING UNIVERSITY</h5>
            <p class="grey-text text-lighten-4">The future of Software Development Training Institute.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">INFORMATON</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">HELP</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">ABOUT</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">CONTACT US</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">OUR UNIVERSITY</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 CODING UNIVERSITY
        <a class="grey-text text-lighten-4 right" href="#!">ABOUT US</a>
        </div>
      </div>
    </footer>